{% assign trans = site.data[site.active_lang] %}
{% if paginator.previous_page or paginator.next_page %}
<nav class="post-nav">
  {% if paginator.next_page %}
    <a class="prev-post" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      {{ trans.blog.older_posts }}
    </a>
  {% endif %}

  <span class="page-info">
    {{ trans.blog.page }} {{ paginator.page }} {{ trans.blog.from }} {{ paginator.total_pages }}
  </span>

  {% if paginator.previous_page %}
    <a class="next-post" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      {{ trans.blog.newer_posts }}
    </a>
  {% endif %}
</nav>
{% endif %}