{% assign trans = site.data[site.active_lang] %}

<div class="progress-bar-container">

    <div class="progress-bar-unit">
        <h3 class="progress-bar-title">Automatizace & Integrace</h3>
        <div class="tools">
            <span><small>n8n / Make</small></span>
            <span><small>Google Apps Script</small></span>
            <span><small>REST API</small></span>
            <span><small>RAG a vektorové databáze</small></span>
            <span><small>AI Agents</small></span>
            <span><small>Webhooks</small></span>
        </div>
    </div>

    <div class="progress-bar-unit">
        <h3 class="progress-bar-title">Automatizace testování & QA</h3>
        <div class="tools">
            <span><small>Playwright</small></span>
            <span><small>Selenium</small></span>
            <span><small>Pytest</small></span>
            <span><small>Postman</small></span>
            <span><small>Manuální testování</small></span>
        </div>
    </div>

    <div class="progress-bar-unit">
        <h3 class="progress-bar-title">Vývoj webových aplikací (Frontend & Backend)</h3>
        <div class="tools">
            <span><small>Python (Django)</small></span>
            <span><small>HTML</small></span>
            <span><small>HTMX</small></span>
            <span><small>CSS3 (Bootstrap, Flexbox, Grid)</small></span>
            <span><small>JavaScript</small></span>
            <span><small>Markdown</small></span>
            <span><small>Jinja2</small></span>
        </div>
    </div>

    <div class="progress-bar-unit">
        <h3 class="progress-bar-title">Vývojářské nástroje & Workflow</h3>
        <div class="tools">
            <span><small>Git</small></span>
            <span><small>GitHub / GitLab</small></span>
            <span><small>GitHub Desktop / GitKraken</small></span>
            <span><small>Docker</small></span>
            <span><small>VS Code / PyCharm</small></span>
            <span><small>CI/CD (GitHub Actions, Gitlab CI/CD)</small></span>
            <span><small>Jira / Asana / Freelo</small></span>
        </div>
    </div>
</div>