{% assign trans = site.data[site.active_lang] %}

<div class="progress-bar-container">
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">HTML5</span></small>
        <div class="progress-bar progress-bar-one">
        <span>80 %</span>
        </div>
        <div class="tools">
            <span><small>Markdown</small></span>
            <span><small>HTMX</small></span>
            <span><small>&nbsp;...&nbsp;</small></span>
        </div>
    </div>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">CSS3</span></small>
        <div class="progress-bar progress-bar-two">
        <span>80 %</span>
        </div>
    </div>
    <div class="tools">
        <span><small>Flexbox</small></span>
        <span><small>Grid</small></span>
        <span><small>{{ trans.cv.animations }}</small></span>
        <span><small>Bootstrap</small></span>
        <span><small>&nbsp;...&nbsp;</small></span>
    </div>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">SQL</span></small>
        <div class="progress-bar progress-bar-three">
        <span>30 %</span>
        </div>
    </div>
    <div class="tools">
        <span><small>SQLite</small></span>
        <span><small>DB Browser</small></span>
        <span><small>&nbsp;...&nbsp;</small></span>
    </div>
    <div class="progress-bar-unit">
    <small><span class="progress-bar-title">Python</span></small>
        <div class="progress-bar progress-bar-four">
        <span>50 %</span>
        </div>
    </div>
    <div class="tools">
        <span><small>OOP</small></span>
        <span><small>Requests</small></span>
        <span><small>Selenium</small></span>
        <span><small>Pytest</small></span>
        <span><small>Pytest dependency</small></span>
        <span><small>Pytest-html</small></span>
        <span><small>Allure report</small></span>
        <span><small>Robot framework</small></span>
        <span><small>Browser library</small></span>
        <span><small>Django</small></span>
        <span><small>FastAPI</small></span>
        <span><small>Jinja2</small></span>
        <span><small>NumPy</small></span>
        <span><small>&nbsp;...&nbsp;</small></span>
    </div>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">JavaScript</span></small>
        <div class="progress-bar progress-bar-five">
        <span>15 %</span>
        </div>
    </div>
    <br>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">{{ trans.cv.other_tools }}</span></small>
        <div class="tools">
            <span><small>Visual Studio Code</small></span>
            <span><small>Pycharm</small></span>
            <span><small>Git</small></span>
            <span><small>GitHub</small></span>
            <span><small>GitHub Desktop</small></span>
            <span><small>Git Extensions</small></span>
            <span><small>PuTTY</small></span>
            <span><small>Jira</small></span>
            <span><small>Asana</small></span>
            <span><small>Freelo</small></span>
            <span><small>REST API</small></span>
            <span><small>{{ trans.cv.http_methods }}</small></span>
            <span><small>Postman</small></span>
            <span><small>&nbsp;...&nbsp;</small></span>
        </div>
    </div>

    <div>
        <br>
        <small><span class="loading">Loading</span></small><span class="dots"></span>
    </div>
</div>