{% if site.alert.enabled and page.title != "404" and page.type != "form success" %}
  <div class="alert-banner alert-{{ site.alert.type }}" {% unless site.alert.dismissable %}data-non-dismissible{% endunless %}>
    
    <span class="alert-icon">
        {% if site.alert.type == "notice" %}
          <span class="material-symbols-outlined">info</span>
        {% elsif site.alert.type == "warning" %}
          <span class="material-symbols-outlined">warning</span>
        {% elsif site.alert.type == "error" %}
          <span class="material-symbols-outlined">error</span>
        {% endif %}
    </span>

    <span class="alert-text">{{ site.alert.message }}</span>

    {% if site.alert.dismissable %}
      <button class="alert-close" onclick="this.parentElement.style.display='none'">
        <span class="material-symbols-outlined">cancel</span>
      </button>
    {% endif %}
  </div>
  <script src="/assets/js/alert.js"></script>
{% endif %}
