<div class="contact">
  <h2>Kontakt na mě, kdyby něco...</h2>
  <ul>
    <li>Daniel Hladík <small>{% if site.tagshort %}{{ site.tagshort }}{% endif %}</small></li> 
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}?subject=Pozor! Tento e-mail obsahuje 100% dobré zprávy&body=Dejte mi vědět, co máte na srdci :)">{{ site.author.email }}</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="{{ site.url }}">daniel-hladik.cz</a></li>
  </ul>
</div>
