<section class="contact-section">
    <div class="contact-intro">
        <h2>Zanechte mi zprávu</h2>
        <p class="contact-description">
            Pokud Vás zaujala má cesta nebo máte zájem o spolupráci, neváhejte mě kontaktovat.
        </p>
    </div>

    <!-- Formulář pro odeslání zprávy -->
    <form class="contact-form needs-validation" id="form" action="https://api.web3forms.com/submit" method="POST" novalidate>
        <!-- Skryté hodnoty pro Web3Forms -->
        <input type="hidden" name="access_key" value="9cc9bff3-11a1-41eb-be20-521101ac2e1f" />
        <input type="hidden" name="subject" value="Nová zpráva přes kontaktní formulář" />
        <input type="hidden" name="from_name" value="daniel-hladik.cz" />
        <input type="hidden" name="redirect" value="{{ site.url }}/form-success/" />
        <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />

        <div class="form-group-container">
            <!-- Name -->
            <div class="form-group">
                <label for="name" class="form-label">Jméno</label>
                <input id="name" name="name" class="form-input" placeholder="Vaše jméno" type="text" required />
                <div class="empty-feedback invalid-feedback">
                    Prosím zadejte svoje jméno, abych věděl, jak Vás oslovit :)
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" class="form-input" placeholder="napiste.vas@email.cz" type="email" required />
                <div class="empty-feedback">
                    Prosím vyplňte svou emailovou adresu.
                </div>
                <div class="invalid-feedback">
                    Možná to byl jen překlep, ale Váš email není validní pro odeslání. Dodržte prosím formát: "email@domena.cz"
                </div>
            </div>

            <!-- Messsage -->
            <div class="form-group">
                <label for="message" class="form-label">Zpráva</label>
                <textarea class="form-textarea" id="message" name="message" placeholder="Napište mi zprávu sem" required></textarea>
                <div class="empty-feedback invalid-feedback">
                    Prosím vyplňte pole se zprávou.
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <button class="form-submit" type="submit">Odeslat</button>
            </div>
        </div>

        <p class="text-center" id="result"></p>
    </form>
</section>

<script src="/assets/js/contact-form.js" defer></script>