{% assign latest_posts = site.posts | sort: "date" | reverse | slice: 0,3 %}

{% if latest_posts.size > 0 %}
<div class="post-homepage-banner">
  <h2 class="post-homepage-banner-title">Přečtěte si moje poslední příspěvky</h2>

  <ul class="latest-posts">
    {% for post in latest_posts %}
      <li class="latest-post">
        <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% if post.lead %}
          <span class="post-lead">
            {{ post.lead }}
            {% if post.reading_time %}
              &mdash; <span class="reading-time">{{ post.reading_time }} čtení</span>
            {% endif %}
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="all-posts-link">
    <a href="{{ '/blog/' | relative_url }}">Všechny články →</a>
  </p>
</div>
{% endif %}