<div class="progress-bar-container">
    <div class="progress-bar-unit">
    <small><span class="progress-bar-title">HTML5</span></small>
        <div class="progress-bar progress-bar-one">
        <span>80 %</span>
        </div>
    </div>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">CSS3</span></small>
        <div class="progress-bar progress-bar-two">
        <span>80 %</span>
        </div>
    </div>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">SQL</span></small>
        <div class="progress-bar progress-bar-three">
        <span>60 %</span>
        </div>
    </div>
    <div class="progress-bar-unit">
        <small><span class="progress-bar-title">Python</span></small>
        <div class="progress-bar progress-bar-four">
        <span>50 %</span>
        </div>
    </div>
        <div class="progress-bar-unit">
        <small><span class="progress-bar-title">Javascript</span></small>
        <div class="progress-bar progress-bar-five">
        <span>15 %</span>
        </div>
    </div>
    <div><small><span class="loading">Loading</span></small><span class="dots"></span></div>
</div>