a.site-title {
  font-weight: 500;
  color: var(--color-heading);

  &:focus,
  &:hover {
    border-color: inherit;
    color: inherit;
  }
}

.toggle-bar {
  display: flex;
  justify-content: end;
  padding-top: 1.5em;
}

.toggle-icon {
  color: var(--color-heading);

  &:focus,
  &:hover {
    cursor: pointer;
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.message {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: var(--color-mark);
  color: var(--color-text);
}

dd {
  padding-left: 0.5em;
}

.archive ul,
.contact ul {
  list-style-type: none;
  padding: 0;
}

.li-icon {
  margin-right: 0.25em;
}

a.iconlink {
  svg circle,
  svg path {
    stroke: var(--color-link);
  }

  &:focus,
  &:hover {
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.footnotes {
  margin-top: 2em;

  p {
    margin: 0;
  }

  &::before {
    content: "Notes";
  }
}

a[href^="#fn:"] {
  margin-left: 0.1em;
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

a.reversefootnote {
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

.button {
  background-color: var(--color-background);
  color: var(--color-text);
  border: solid 2px var(--color-text);
  border-radius: 12px;
  padding: 8px 10px 8px 10px;
  margin: 10px;
  text-decoration: none;
  transition: box-shadow 0.1s ease;

  &:focus,
  &:hover {
    border: solid 2px var(--color-text);
    color: var(--color-text);
    box-shadow: 0 0 0 1px var(--color-text);
  }
}

.contact-section {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-description {
  color: var(--color-form-description);
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  background-color: var(--color-form);
  color: var(--color-text);
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--color-form-placeholder);
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid var(--color-link);
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
  color: var(--color-text);
}

.form-submit {
  background-color: var(--color-background);
  color: var(--color-text);
  border: solid 2px var(--color-text);
  border-radius: 12px;
  padding: 13px 5px;
  margin-top: 1.2rem;
  text-decoration: none;
  transition: box-shadow 0.1s ease;

  &:focus,
  &:hover {
    border: solid 2px var(--color-text);
    color: var(--color-text);
    box-shadow: 0 0 0 1px var(--color-text);
  }
}

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

.custom-feedback, 
.empty-feedback, 
.invalid-feedback {
    color: #f87171;       
    font-size: 0.875rem;  
    margin-top: 0.25rem;
}

.alert-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.alert-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 2em;
}

.alert-text {
  flex-grow: 1;
}

.alert-text a {
  color: var(--color-link);
  text-decoration: none;
}

.alert-text a:hover {
  color: var(--color-link);
  text-decoration: dotted;
}

.alert-close {
  margin-left: auto;
  padding-left: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.alert-close:hover {
  transform: scale(1.1);
}

.alert-notice {
  background-color: var(--color-alert-background);
  color: var(--color-text);
}

.alert-warning {
  background-color: #fbebd1;
  color: #e65100;
}

.alert-error {
  background-color: #ffd8de;
  color: #b71c1c;
}

/* Non-dismissible banners */
[data-non-dismissible] .alert-close {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.hidden {
  display: none !important;
}

.progress-bar-container {
  width: 100%;
  max-width: 40rem;
  margin: 15px auto 20px auto;
  padding: 1rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.progress-bar-title {
  padding-left: 8px;
}

.progress-bar-unit {
  margin: 15px auto 5px auto;
}

.progress-bar {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: 2px solid var(--color-border);
  background-color: var(--color-progress-bar-background);
  overflow: hidden;
  position: relative;
}

.progress-bar span {
  height: 100%;
  display: block;
  width: 0;
  color: var(--color-background);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
  border-radius: 8px;
}

.progress-bar span:hover {
  background-color: var(--color-text);
  color: var(--color-background);
}

.progress-bar-one span {
  background-color: var(--color-progress-bar);
  color: var(--color-progress-bar-text);
  width: 80%;
}

.progress-bar-two span {
  background-color: var(--color-progress-bar);
  color: var(--color-progress-bar-text);
  width: 80%;
}
.progress-bar-three span {
  background-color: var(--color-progress-bar);
  color: var(--color-progress-bar-text);
  width: 30%;
}
.progress-bar-four span {
  background-color: var(--color-progress-bar);
  color: var(--color-progress-bar-text);
  width: 50%;
}
.progress-bar-five span {
  background-color: var(--color-progress-bar);
  color: var(--color-progress-bar-text);
  width: 15%;
}

.tools span {
	background: var(--color-progress-bar-tools-background);
  color: var(--color-progress-bar-tools-text);
  border: solid 2px var(--color-border);
	border-radius: 8px;
	margin: 5px 4px 5px 1px;
	padding: 4px 8px;
	display: inline-block;
}

.tools span:hover {
  color: var(--color-text);
	border: solid 2px var(--color-text);
}

.dots::after {
  content: '';
  animation: dot-blink 2.0s infinite steps(1, end);
}

/* Animation of dot-blinking */
@keyframes dot-blink {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '....';
  }
}

.loading {
  padding-left: 10px;
}

.start-side-image {
  background-color: white;
  position: relative;
}

.side-image {
  position: absolute;
  width: 50%;
  height: 1600px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
}

.side-image.left {
  left: -55%;
  top: 0;
  transform: translateY(-30%);
  background-image: url('/assets/files/road-left.jpg');
}

.side-image.right {
  right: -55%;
  top: 0;
  transform: translateY(-30%);
  background-image: url('/assets/files/road-right.jpg');
}

.start-side-image.visible .side-image {
  opacity: 1;
}

/* Media query to hide side images on mobile devices */
@media (max-width: 1400px) {
  .side-image {
    display: none;
  }
}