a.site-title {
  font-weight: 500;
  color: var(--color-heading);

  &:focus,
  &:hover {
    border-color: inherit;
    color: inherit;
  }
}

.toggle-bar {
  display: flex;
  justify-content: end;
  padding-top: 1.5em;
}

.toggle-icon {
  color: var(--color-heading);

  &:focus,
  &:hover {
    cursor: pointer;
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.message {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: var(--color-mark);
  color: var(--color-text);
}

dd {
  padding-left: 0.5em;
}

.archive ul,
.contact ul {
  list-style-type: none;
  padding: 0;
}

.li-icon {
  margin-right: 0.25em;
}

a.iconlink {
  svg circle,
  svg path {
    stroke: var(--color-link);
  }

  &:focus,
  &:hover {
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.footnotes {
  margin-top: 2em;

  p {
    margin: 0;
  }

  &::before {
    content: "Notes";
  }
}

a[href^="#fn:"] {
  margin-left: 0.1em;
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

a.reversefootnote {
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

.button {
  background-color: var(--color-background);
  color: var(--color-text);
  border: solid 2px var(--color-text);
  border-radius: 12px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  transition: box-shadow 0.1s ease;
  position: relative;

  &:focus,
  &:hover {
    border: solid 2px var(--color-text);
    color: var(--color-text);
    box-shadow: 0 0 0 1px var(--color-text);
    z-index: 1;
  }
}

.loading-text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: #333;
}

.dots::after {
  content: '.';
  animation: dot-blink 1.5s infinite steps(1, end);
}

@keyframes dot-blink {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '.';
  }
}