---
layout: page
---
{% assign lang = site.active_lang | default: site.default_lang %}
{% assign trans = site.data[site.active_lang] %}

<h1>{{ trans.datapages_services.h1 }}</h1>

<ul class="services-list">
{% for service in site.data.services %}
  {% if service.published and service.show_in_list %}
    {% if lang == site.default_lang %}
        {% assign full_url = site.url | append: clean_url %}
    {% else %}
        {% assign full_url = site.url | append: '/' | append: lang | append: clean_url %}
    {% endif %}
    <li class="service-item">
      <span class="material-symbols-outlined service-icon">{{ service.icon }}</span>
      <a class="service-title" href="{{ full_url }}/services/{{ service.slug }}">
        <h2>{{ service.lang[lang].title }}</h2>
      </a>
      <p class="service-description">{{ service.lang[lang].description }}</p>
      <a class="service-link" href="{{ full_url }}/services/{{ service.slug }}">
        {{ trans.datapages_services.service_link }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>