---
layout: page
---
{% assign lang = site.active_lang | default: site.default_lang %}
{% assign trans = site.data[site.active_lang] %}

<h1>{{ trans.datapages_services.h1 }}</h1>

<p>
{{ trans.datapages_services.lead }}
</p>

{% include schedule-meeting-link.html %}

<ul class="services-list">
{% for service in site.data.services %}
  {% if service.published and service.show_in_list %}
    {% if lang == site.default_lang %}
        {% assign full_url = site.url | append: clean_url %}
    {% else %}
        {% assign full_url = site.url | append: '/' | append: lang | append: clean_url %}
    {% endif %}
    <li class="service-item">
      <span class="material-symbols-outlined service-icon">{{ service.icon }}</span>
      <div class="service-title">
        <h2><a href="{{ full_url }}/services/{{ service.slug }}">{{ service.lang[lang].title }}</a></h2>
      </div>
      <p class="service-description">{{ service.lang[lang].description }}</p>
      <a class="service-link" href="{{ full_url }}/services/{{ service.slug }}">{{ trans.datapages_services.service_link }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<hr>
<p>{{ trans.datapages_services.use_cases_intro }}</p>
<p><a href="{{ '/use-cases/' | relative_url }}">{{ trans.datapages_services.use_cases_link }}</a></p>