---
layout: page
---
{% assign lang = site.active_lang | default: site.default_lang %}
{% assign trans = site.data[site.active_lang] %}

<p class="blog-back"><a href="{{ '/services/' | relative_url }}">{{ trans.datapages_services.all_services_link }}</a></p>

<h1>{{ page.lang[lang].title }}</h1>
<p>{{ page.lang[lang].lead }}</p>
{% if page.image %}
    <div class="post-hero-image">
    <img src="{{ page.image }}" alt="{{ trans.blog.alt_hero_image }} {{ page.title }}" loading="lazy">
    </div>
{% endif %}
{{ page.lang[lang].text }}

<p><a href="#contact-form">{{ page.lang[lang].free_consultation }}</a></p>